header {
	height: 640px;
	background: url("../images/background-image.jpg") 0%/100% no-repeat;
}

header h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0;
	font: 120px/132px HUGEAvantGardeBold;
	letter-spacing: -0.02em;
	text-align: center;
}
