@import "fonts.css";
@import "header.css";
@import "nav.css";

main article {
	text-align: justify;
}

@media only screen and (min-width: 768px) {
	main article {
		font: 24px/36px Galaxie;
		margin: 60px auto;
		max-width: 968px;
	}
}

@media only screen and (max-width: 767px) {
	main {
		padding: 0px 24px;
	}
	main article {
		font: 14px/24px Galaxie;
		margin: 50px auto;
	}
}
