@import "fonts.css";
@import "header.css";
@import "nav.css";

html {
	padding: 0;
}

body {
	margin: 0;
	background: #fff;
	color: #fff;
}

section {
	color: #000;
}

article {
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	max-width: 968px;
	font: 24px/36px Galaxie;
	text-align: justify;
}
