nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ec008c;
}

#nav-open, #nav-close {
	display: none;
}

#overlay {
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: 9;
}

nav.active #overlay {
	display: block;
}

@media only screen and (min-width: 768px) {
	nav {
		background-color: #ec008c;
	}

	#overlay {
		top: 72px;
	}

	nav ul li {
		float: left;
	}

	#nav-header {
		float: left;
	}

	#logo {
		margin-top: 24px;
		margin-left: 24px;
		margin-right: 48px;
		width: 60px;
		height: 24px;
	}

	nav ul li a {
		display: block;
		color: #fff;
		text-align: center;
		padding: 12px 24px;
		text-decoration: none;
		font: 24px/48px HUGEAvantGardeBold;
	}

	nav ul li:hover {
		background-color: #fff;
	}

	nav ul li:hover a {
		color: #ec008c;
	}

	nav ul li .dropdown-content {
		display: none;
		position: absolute;
		background-color: #fff;
		z-index: 1;
	}

	nav ul li:hover .dropdown-content {
		display: block;
	}

	nav ul li .dropdown-content a {
		color: black;
		display: block;
		font: 16px/48px Galaxie;
		padding: 0px 24px;
		text-align: left;
		text-decoration: none;
	}

	nav ul li .dropdown-content a:hover {
		background-color: #eee;
		color: #ec008c;
	}

}

@media only screen and (max-width: 767px) {
	#overlay {
		top: 60px;
	}

	#nav-header {
		background-color: #ec008c;
		height: 60px;
		overflow: hidden;
		position: relative;
	}

	#nav-open, #nav-close {
		position: absolute;
		top: -4px;
	}

	#nav-open {
		display: inline;
	}

	#nav-close {
		display: none;
		right: 0px;
	}

	#logo {
		display: none;
		margin-top: 20px;
		margin-left: 24px;
		margin-bottom: 20px;
		width: 50px;
		height: 20px;
	}

	nav.active #logo, nav.active #nav-close {
		display: inline;
	}

	nav.active #nav-open {
		display: none;
	}

	nav.active ul {
		display: block;
	}

	nav ul {
		display: none;
		position: fixed;
		height: 100%;
		/*width: calc(100% - 72px);*/
		top: 60px;
		z-index: 10;
		background-color: #fff;
		overflow: auto;
	}

	nav ul li.logo {
		background-color: #ec008c;
	}

	nav ul li a {
		display: block;
		text-decoration: none;
		color: #000;
		font: 24px/48px HUGEAvantGardeBold;
		padding-left: 24px;
		padding-right: 150px;
		width: 100%;
	}

	nav ul li a:hover {
		background-color: #eee;
	}

	nav ul li .dropdown-content {
		display: none;
		background-color: #fff;
	}

	nav ul li:hover .dropdown-content {
		display: block;
	}

	nav ul li .dropdown-content a {
		color: black;
		display: block;
		font: 16px/48px Galaxie;
		padding: 0px 24px;
		text-align: left;
		text-decoration: none;
	}

	nav ul li .dropdown-content a:hover {
		background-color: #eee;
		color: #ec008c;
	}
}
