nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ec008c;
}

nav ul li {
	float: left;
}

#logo {
	margin-top: 24px;
	margin-left: 24px;
	margin-right: 48px;
	width: 60px;
	height: 24px;
}

nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 12px 24px;
	text-decoration: none;
	font: 24px/48px HUGEAvantGardeBold;
}

nav ul li a:hover {
	background-color: #fff;
	color: #ec008c;
}
